
jupyter
findspark
pandas
matplotlib
seaborn
bs4
lxml
tqdm
requests


# gensim install
gensim

# https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html#apache-arrow-in-spark
pyarrow==0.14.1

